In [ ]:
import pandas as pd
import numpy as np

## Задание 0

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки [data](https://drive.google.com/drive/folders/1YAMe7MiTxA-RSSd8Ex2p-L0Dspe6Gs4L). 

Для таблицы transactions используйте только первые n=1000000 строк. При чтении файлов обратите внимание на разделители внутри каждого из файлов - они могут различаться!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
transactions = pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/Data/transactions.csv", nrows = 1000000,
            sep = ',')
tr_types = pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/Data/tr_types.csv",
            sep = ';')
tr_mcc_codes = pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/Data/tr_mcc_codes.csv",
            sep = ';')
gender_train = pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/Data/gender_train.csv",
            sep = ',')

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;


Задания 1-4 делаются без использования merge!

## Задание 1

1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description в датасете tr_types), в которой содержится подстрока 'POS' или 'ATM'

In [ ]:
# transactions - содержит историю транзакций клиентов банка за 1 год и 3 месяца.
# customer_id,tr_datetime,mcc_code,tr_type,amount,term_id

# gender_train - инф по полу для части клиентов. Для остальных клиентов пол неизвестен.
# customer_id,gender

# tr_mcc_codes - содержит описание mcc-кодов транзакций.
# mcc_code;mcc_description

# tr_types - содержит описание типов транзакций.
# tr_type;tr_description

sample1000 = transactions['tr_type'].sample(n=1000)
count_sample = sample1000.count()
n1 = tr_types[(tr_types["tr_description"].str.contains("POS")) | (tr_types["tr_description"].str.contains("АТМ"))]
# n2 = n1["tr_type"].count()
n3 = sample1000.isin(n1["tr_type"]).sum()
print("ответ:", n3/count_sample)

ответ: 0.607

## Задание 2

1. Для столбца tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости (вывести для них tr_description тоже).

In [ ]:
n2 = transactions["tr_type"].unique() # 72
n3 = transactions["tr_type"].value_counts()
# print(n3.sort_values(ascending=False).head(10))
n3 = n3.sort_values(ascending=False).head(10)
# print(n3)
n3 = n3.sort_index()
# print(n3)
n4 = pd.DataFrame(tr_types[tr_types["tr_type"].isin(n3.index)])
# print(n4)
n4 = n4.sort_values(by="tr_type")
# print(n4)

# Во втором пункте добавьте столбец с частотой встречаемости. Отсортируйте по убыванию частоты.
n4["frequency"] = np.where(n4["tr_type"] == n3.index, n3.values,  n3.values)
print(n4.sort_values(by="frequency", ascending=False))

     tr_type                                     tr_description  frequency
98      1010                              Покупка. POS ТУ СБ РФ     231117
106     2010              Выдача наличных в АТМ Сбербанк России     151166
59      7070  Перевод на карту (с карты) через Мобильный бан...     149006
101     1110                             Покупка. POS ТУ Россия     137658
99      1030                     Оплата услуги. Банкоматы СБ РФ     118975
129     2370  Списание с карты на карту по операции <перевод...      49830
39      7010       Взнос наличных через АТМ (в своем тер.банке)      28972
47      7030  Перевод на карту (с карты) через АТМ (в предел...      26078
60      7071  Перевод на карту (с карты) через Мобильный бан...      15781
100     1100                                Покупка. ТУ  Россия      15476

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите модуль разницы для этих клиентов между суммой расходов и суммой приходов

In [ ]:
groups1 = transactions[["customer_id", "amount"]][transactions["amount"] > 0]
# print(groups1)
groups_income = groups1.groupby("customer_id").sum()
# print(groups_income.head(10))
groups_income = groups_income.sort_values(by = "amount", ascending=False).head(1)
print(groups_income.index.item()) 

groups2 = transactions[["customer_id", "amount"]][transactions["amount"] < 0]
groups_waste = groups2.groupby("customer_id").sum()
groups_waste = groups_waste.sort_values(by = "amount").head(1)
print(groups_waste.index.item()) 

answer = abs(groups_income.values.item() - abs(groups_waste.values.item()))
print(answer)

70780820
70780820
1837317.980000019

## Задание 4
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций для клиентов из задания 3

In [ ]:
transactions_mean = transactions[["amount", "tr_type"]][transactions["tr_type"].isin(n3.index)].groupby(["tr_type"])["amount"].mean().reset_index(name ='Mean')
transactions_med = transactions[["amount", "tr_type"]][transactions["tr_type"].isin(n3.index)].groupby(["tr_type"])["amount"].median().reset_index(name ='Median')
print('transactions:\n', transactions_mean)
print(transactions_med)

client_mean = transactions[["customer_id", "amount", "tr_type"]][transactions["customer_id"] == groups_waste.index.item()].groupby(["tr_type"])["amount"].mean().reset_index(name ='Mean')
client_med = transactions[["customer_id", "amount", "tr_type"]][transactions["customer_id"] == groups_waste.index.item()].groupby(["tr_type"])["amount"].median().reset_index(name ='Median')

print('client:\n', client_mean)
print(client_med)

transactions:
    tr_type           Mean
0     1010  -19784.748640
1     1030   -5320.980222
2     1100  -44061.827262
3     1110  -32119.330371
4     2010 -136077.629325
5     2370 -205418.249032
6     7010  276391.789596
7     7030   86104.332909
8     7070   65569.831700
9     7071   66806.826623
   tr_type     Median
0     1010   -7411.52
1     1030   -2245.92
2     1100  -10188.26
3     1110  -11207.57
4     2010  -44918.32
5     2370  -44918.32
6     7010  112295.79
7     7030   13951.52
8     7070   11319.42
9     7071    3593.47
client:
     tr_type          Mean
0      2010 -2.941056e+06
1      2330 -2.382398e+06
2      2370 -2.218505e+06
3      6110  1.756293e+04
4      7020  1.465129e+04
5      7021  2.850067e+04
6      7030  1.406196e+04
7      7031  1.921036e+04
8      7034  1.430648e+04
9      7040  2.153833e+04
10     7070  1.384821e+04
11     7071  1.860057e+04
12     7074  2.281159e+04
    tr_type       Median
0      2010 -3368873.660
1      2330 -2245915.770
2      2370 -2245915.770
3      6110    10028.010
4      7020    10319.985
5      7021    28500.670
6      7030     8848.910
7      7031    12992.620
8      7034    14306.480
9      7040    14396.320
10     7070     8714.150
11     7071    12543.440
12     7074     9387.930

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

(999584, 9)

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том, 
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

In [ ]:
groups = transactions.groupby(['gender'])
g1 = groups.get_group(1)
g2 = groups.get_group(0)
g1_income = g1.amount.where((g1.amount > 0)).mean()
g2_income = g2.amount.where((g2.amount > 0)).mean()
g1_waste = g1.amount.where((g1.amount < 0)).mean()
g2_waste = g2.amount.where((g2.amount < 0)).mean()
print('Поступления:', abs(g1_income-g2_income))
print('Траты:', abs(g1_waste-g2_waste))

Поступления: 63366.57104801462
Траты: 32718.05492022462

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 типов транзакций для мужчин и для женщин, наименьших среди всех типов транзакций по полученным значениям "max_income". 
2. Выделите среди них те типы транзакций, которые встречаются одновременно и у мужчин, и у женщин

## Задание 7

1. Найдите суммы затрат по каждой категории (mcc) для мужчин и для женщин. 
2. Найдите топ 10 категорий с самыми большими относительными модулями разности в тратах для разных полов (в ответе должны присутствовать описания mcc кодов).

In [ ]:
wastes = transactions[["gender", "mcc_code", "amount"]][transactions.amount < 0]
wastes = wastes.groupby(["gender", "mcc_code"])["amount"].sum()
print(wastes)
# print(wastes[0)
# print(wastes[1])

difference = abs(wastes[0] - wastes[1])
difference = difference.sort_values(ascending=False).head(10)
# print(difference)
difference = difference.sort_index(ascending=False)


difference_description = tr_mcc_codes[tr_mcc_codes.mcc_code.isin(difference.index)]
difference_description = pd.DataFrame(difference_description.sort_values(by = "mcc_code", ascending=False))
# Во втором пункте добавьте несколько столбцов: 1- столбец с модулем разности, 
difference_description["difference"] = np.where(difference_description["mcc_code"] == difference.index, difference.values,  difference.values)
difference_description = difference_description.sort_values(by="difference", ascending=False)
print(difference_description)

wastes = wastes.groupby(["gender", "mcc_code"])
print(wastes.size())
# gender = np.where(wastes[0] - wastes[1], )


# 2 - столбец с полом, который совершает больше трат в данной категории, 
# 3 - столбец с часом в сутках, когда совершается максимальное количество трат в этой категории полом, найденным в пункте 2.

gender  mcc_code
0.0     742          -386207.68
        1711         -674897.69
        1799         -261626.73
        2741          -20746.42
        3000       -74431645.27
                       ...
1.0     8999       -28643346.63
        9222         -988205.17
        9311         -373271.22
        9399        -1810820.67
        9402           -4581.67
Name: amount, Length: 349, dtype: float64
     mcc_code                                    mcc_description    difference
124      6011  Финансовые институты — снятие наличности автом...  3.085862e+09
22       4829                                  Денежные переводы  2.499153e+09
123      6010   Финансовые институты — снятие наличности вручную  2.208580e+08
65       5541                            Станции техобслуживания  1.554326e+08
62       5511  Легковой и грузовой транспорт — продажа, серви...  7.352877e+07
90       5812             Места общественного питания, рестораны  7.037856e+07
116      5977                                 Магазины косметики  4.241762e+07
64       5533                          Автозапчасти и аксессуары  4.233808e+07
162      7995                       Транзакции по азартным играм  4.079564e+07
75       5661                                   Обувные магазины  3.815470e+07
gender  mcc_code
0.0     742         1
        1711        1
        1799        1
        2741        1
        3000        1
                   ..
1.0     8999        1
        9222        1
        9311        1
        9399        1
        9402        1
Name: amount, Length: 349, dtype: int64

## Задание 8

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте количество транзакций с amount<0 в ночное время для мужчин и женщин. Ночное время - это примерно 00-06 часов.